{% extends "base.html" %}

{% block content %}


<h1 style="margin-top: 5%;">&gt; Zip-code Microservice Sample App</h1>
<p style="margin-top:0px; font-size:8px;">woo Kubernetes isn't scary anymore is it?</p>
<br>


<iframe width="100%" height="400px" src="http://{{map_url}}/styles/{{map_style}}/#11/{{lat}}/{{long}}">
      <p>Your browser does not support iframes.</p>
    </iframe>

<pre >
{{loc_json}}
</pre>
<br>
<form method="post" target="_self">
    <p style="" align="center"><input type="text" id="zipcode" name="zipcode" style="width:50%; margin-left:2%;" autofocus/><input style="margin-left:2%" type="submit" class="btn btn-primary" value="Search" /></p>

</form>

{% endblock %}
